@import "./fonts.css";

/* General  */


/* Variables */
:root {
    --orange: #E75425;
}


body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    overflow-y: hidden;
}


/* Scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}


/* Navbar */

.navbar {
    position: absolute;
    left: 0;
    padding: 25px 5%;
    z-index: 10;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.navbar>div {
    width: 30%;
    text-align: center;
}

.navbar div p {
    color: white;
    margin: 0;
    letter-spacing: 1px;
    font-size: 21px;
    border-bottom: 1px solid var(--orange);
    cursor: pointer;
    padding-bottom: 0;
    transition: 0.6s;
    display: inline;
}

.navbar p:hover {
    color: var(--orange);
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.navbar-top {
    top: 0;
}

.navbar-bottom {
    bottom: 0;
}


.main-section h1 {
    color: var(--orange);
    font-weight: 600;
    font-size: 36px;
    margin: 5px 0;
}

.main-section h2 {
    color: white;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
}

.main-section h3 {
    color: var(--orange);
    font-weight: 300;
    font-size: 22px;
    margin: 5px 0;
}


/* Main Section */

.main-section {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/images/main-background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main-section div img {
    width: 45%;
    padding-top: 0%;
}

.main-section>div {
    text-align: center
}



/* SECTIONs */

.section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 15;
    transition: 0.6;
    overflow: hidden;
    background-image: url("../assets/images/sections/section-background.jpg");
    background-size: cover;
    background-position: center;
}

.bottom-section {
    top: 100%;
    height: 100vh;
}

.section-grid {
    height: 100%;
    width: 100%;
    display: grid;
}

.left-section {
    grid-template-columns: 25% 75%;
}

.middle-section {
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
    text-align: center;
}

.right-section {
    grid-template-columns: 75% 25%;
    text-align: right;
}

.contact-section .left-section {
    grid-template-columns: 40% 60%;
}

.top-section-close {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 22px;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

.bottom-section-close {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 22px;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}


.top-section-close:hover,
.bottom-section-close:hover {
    color: var(--orange);
    transform: rotate(-90deg);
}

/* .grid-heading>div {
    background-color: rgba(231, 85, 37, 0.75);
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
} */
.section-close:hover {
    color: var(--orange);
}

.about-section .grid-heading {
    background-image: url("../assets/images/sections/about-section.jpg");

}

.who-section .grid-heading {
    background-image: url("../assets/images/sections/who-section.jpg");
}

.what-section .grid-heading {
    background-image: url("../assets/images/sections/what-section.jpg");
}

.clients-section .grid-heading {
    background-image: url("../assets/images/sections/clients-section.jpg");
}

.beneficiaries-section .grid-heading {
    background-image: url("../assets/images/sections/beneficiaries-section.jpg");
}

.contact-section .grid-heading {
    background-image: url("../assets/images/sections/contact-us.jpg");
}

.grid-heading {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.middle-section .grid-heading {
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.grid-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 10%;
    color: white;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    /* background-color: #181818; */
}

.middle-section .grid-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.grid-text p {
    padding: 20px 0;
    margin: 0;
}


.grid-text>div,
.orange-line {
    height: 2px !important;
    width: 50% !important;
    background-color: var(--orange);
}

.middle-section .grid-text>div {
    margin: 0 auto;
}

.right-section .grid-text>div {
    margin-left: auto;
}


/* Contact Section */

.contact-section .section-grid {
    grid-template-columns: 70% 30%;
}

.contact-section .section-grid .grid-heading {
    display: none
}



.contact-grid {
    padding: 1% 5%;
    color: white;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    background-image: url("../assets/images/sections/section-background.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.contact-map {
    position: relative;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-map>div {
    background-color: rgba(231, 85, 37, 0.75);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.6s;
}

.contact-map:hover>div {
    left: 100%;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10%;
}

.contact-form input,
.contact-form textarea {
    resize: none;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--orange);
    outline: none;
    padding: 5px 0;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: var(--orange);
}

.contact-form>div:nth-child(3) {
    grid-column: 1/3 !important;
}

.contact-form textarea {
    width: 100%;
}

.contact-form .submit-button {
    background-color: var(--orange);
    border: 2px solid var(--orange);
    cursor: pointer;
    grid-column: 2/3 !important;
    margin-left: auto;
    width: 50%;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.5s;
}

.contact-form .submit-button:hover {
    background-color: transparent;
}

.contact-grid h1 {
    font-weight: 600;
}

.contact-grid h1 span {
    color: var(--orange);
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
}

.contact-info a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: 0.5s;
    font-size: 17px;
}

.contact-info h2 {
    font-weight: 600;
    color: var(--orange);
    margin: 0;
}

.contact-info a:hover {
    color: var(--orange);
}

.contact-info i {
    color: var(--orange);
    margin-right: 15px;
}

.contact-info>div>div {
    display: flex;
    align-items: center;
}

.contact-info>div a {
    margin-top: 10px;
    font-weight: 300;
    display: block;
}

.contact-info>div p {
    font-weight: 600;
    color: var(--orange);
}


/* Beneficiary Section */

.beneficiaries-section .grid-text h5 {
    color: var(--orange);
    font-weight: 600;
    font-size: 26px;
    margin: 0;
    margin-bottom: 10px;
}

.beneficiaries-section .grid-text ul {
    list-style: none;
    padding: 0;
}

.beneficiaries-section .grid-text ul li {
    padding: 5px 0;
    /* font-size: 20px; */
    font-weight: 400;
}

.beneficiaries-section .grid-text ul li img {
    height: 24px;
}

.beneficiaries-section .grid-text ul li span {
    color: var(--orange);
    font-weight: 600;
}

.who-section .top-section-close,
.beneficiaries-section .bottom-section-close,
.what-section .top-section-close {
    color: black !important;
}

.who-section .top-section-close:hover,
.beneficiaries-section .bottom-section-close:hover,
.what-section .top-section-close:hover {
    color: white !important;
}